<form class="toolbox flexcol" autocomplete="off">
  <div class="tab active datatoolbox">
    <p class="notes">{{localize "LOCALIZE.notes"}}</p>

    <div class="form-group">
      <label>{{localize "LOCALIZE.sourceFile"}}</label>
      <div class="form-fields">              
        <button type="button" class="file-picker" data-type="text" data-target="source" title="{{localize "LOCALIZE.browseFile"}}" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input class="csv" type="text" name="csv" placeholder="path/data.csv" value="{{csv}}">
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "LOCALIZE.compendiumName"}}</label>
      <div class="form-fields">
        <select name="compendium" class="compendium">
          {{#each compendium}}
          <option  type="text" name="compendium" value="{{this.metadata.package}}.{{this.metadata.name}}">{{this.metadata.label}} ({{this.metadata.package}}) - {{this.metadata.entity}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</form>
